@font-face {
  font-family: "iconfont"; /* Project id 2572096 */
  src: url('iconfont.woff2?t=1622016607401') format('woff2'),
       url('iconfont.woff?t=1622016607401') format('woff'),
       url('iconfont.ttf?t=1622016607401') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-game-:before {
  content: "\e613";
}

.icon-dianying:before {
  content: "\e6ee";
}

.icon-music:before {
  content: "\e6c5";
}

.icon-bilibili-fill:before {
  content: "\e69c";
}

.icon-book:before {
  content: "\e85d";
}

